<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=java16"/>
        <listEntry value="artifactId=01_SpringMVC_UnitTest"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.springmvc"/>
        <listEntry value="outputDirectory=D:\SPRING MVC"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\GF63\AppData\Local\Temp\m2e-archetypeGenerator10065159145631338008"/>
</launchConfiguration>
